.maindiv {
  margin: 10px;
}

.chips-container {
  height: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 9px;
}

.my-div {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  background-color: gray;
  color: #fff;
  border-radius: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chip-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #f0f0f0;
}

.remove-icon {
  margin-left: 4px;
  margin-right: 10px;
  cursor: pointer;
  color: red;
  border-radius: 50%;
}

input {
  font-size: 16px;
  margin: 4px;
  width: 150px;
  border: #f0f0f0;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  width: 150px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}